.laying {
  padding: 60px 0;
}
.laying .open {
  transform: translateX(0) !important;
}
.laying h1 {
  margin-bottom: 60px;
}
.laying__sidebar {
  position: sticky;
  padding-top: 110px;
  top: 10px;
  height: min-content;
  min-width: 14rem;
  transition: 0.25s;
}
.laying__sidebar ul {
  margin: 0;
}
.laying__sidebar li {
  padding-left: 1.45rem;
  list-style: none;
}
.laying__sidebar li a {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  text-decoration: none;
}
.laying__sidebar ul .active {
  border-left: 2px solid #4293dd;
}
.laying__sidebar ul .active a {
  font-weight: 400;
  color: #4293dd;
}
.laying__sidebar__toggle {
  position: fixed;
  display: none;
  bottom: 54px;
  right: 20px;
  z-index: 1001;
}

.laying__content {
  display: flex;
  flex-direction: column;
}
.laying__content__info {
  display: flex;
  flex-direction: column;
}
.laying__content__info p,
.laying__content__info li {
  font-size: 16px;
  color: #666666;
}
.laying__content__info small {
  margin-bottom: 1.45rem;
  font-style: italic;
  color: #666666;
}
.laying__content__info small a {
  color: #4293dd;
  text-decoration: none;
}
.laying__content__info img {
  max-height: 400px;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 920px) {
  .laying__sidebar {
    min-width: 12rem;
  }
}
@media (max-width: 720px) {
  .laying__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 320px;
    height: 100vh;
    background-color: #ffffff;
    transform: translateX(-100%);
    z-index: 1000;
  }
  .laying__sidebar ul {
    margin-left: 1.45px;
  }
  .laying__sidebar__toggle {
    display: block;
  }
}
