.about-image {
  max-height: 450px;
  height: 450px;
  margin-bottom: 120px;
  background-image: url("../images/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about > div {
  display: flex;
  flex-direction: column;
}
.about__categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 40px;
  margin-bottom: 60px;
}
.about__categories a {
  margin: auto;
}
.about__categories a {
  position: relative;
}
.about__categories__title {
  position: absolute;
  padding: 6px 12px;
  bottom: 20px;
  background-color: #4293dd;
  font-size: 24px;
  color: #ffffff;
  opacity: 0;
  transition: 0.25s;
}
.about__categories a:hover .about__categories__title {
  opacity: 1;
}

@media (max-width: 720px) {
  .about__categories__title {
    opacity: 1;
  }
}
