header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.header {
  &__mobile > div {
    display: flex;
    justify-content: space-between;
  }
  &__desktop {
    &__nav {
      display: flex;
      padding: 10px 0;
      justify-content: space-between;
    }
  }
}

nav {
  margin: auto 50px;

  ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0;
      list-style: none;
    }
  }
  a {
    padding: 6px 30px;
    color: #212121;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      background-color: #4293dd;
      color: #ffffff;
    }
  }
}

@media (max-width: 1140px) {
  nav {
    margin: auto 10px;
    a {
      padding: 6px 16px;
    }
  }
}

@media (max-width: 920px) {
  nav {
    position: fixed;
    inset: 0;
    top: 60px;
    margin: auto;
    background-color: #ffffff;
    transition-duration: 0.25s;
  }
  nav ul {
    flex-direction: column;
  }
}
