/*  welcome */
.welcome-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../images/garden.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-box {
  display: grid;
  grid-template-columns: 14fr 9fr;
  gap: 30px;
  padding: 150px 0;
}
.welcome-box__left h2 {
  color: #ffffff;
  text-shadow: 0px 2px 4px #00000080;
}
.welcome-box__left h2 span {
  color: #4293dd;
  font-style: italic;
}
.welcome-box__info {
  display: inline-block;
  margin-bottom: 60px;
  padding: 0 10px;
  background-color: #4293dd;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
}

.welcome-box__pins {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}
.welcome-box__pin {
  text-align: center;
}
.welcome-box__pin p {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 2px 4px #00000080;
}

/* how we work */

.hww-section {
  padding: 120px 0;
  background-color: #fafafa;
}
.hww-section h3 {
  margin-bottom: 60px;
}
.hww__work-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 30px;
}
.hww__work-card {
  width: 380px;
  height: 380px;
  flex-direction: column;
  margin: auto;
  padding: 25px 50px 0;
  align-items: center;
  background-color: #fefefe;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.hww__work-card h4 {
  margin-top: 46px;
  margin-bottom: 16px;
  font-size: 20px;
}
.hww__work-card p {
  font-size: 16px;
  color: #666666;
  text-align: center;
}

.home__services-box {
  height: 450px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/home/services-section-plitka.jpg");
  background-position: center;
  background-size: cover;
}
.home__services__info {
  display: inline-block;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}

.products-section {
  padding: 100px 0 30px;
}
.products-slider {
  overflow: hidden;
}
.slider-box {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
  padding: 10px;
  transition-duration: 2s;
}

.home__portfolio-box {
  height: 450px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/home/portfolio-section-plitka.jpg");
  background-position: center;
  background-size: cover;
}
.home__portfolio__info {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}
.home__portfolio__info > span {
  margin-bottom: 30px;
}
.home__portfolio__info > .button-box {
  width: fit-content;
}
.home__portfolio-galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
  padding: 60px 0;
}

.home__about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home__about__info {
  padding: 150px 10px;
  color: #ffffff;
  background-color: #4293dd;
  justify-content: center;
  align-items: center;
}
.home__about__info-box {
  width: 520px;
}
.home__about__info-box > div {
  outline: none;
}
.home__about__info-box p,
.home__about__info-box li {
  font-size: 18px;
  font-weight: 300;
}
.home__about__info-box a {
  width: 100%;
  text-align: center;
  padding: 16px 65px;
  font-size: 24px;
  outline: 1px solid #ffffff;
  white-space: nowrap;
}
@media (max-width: 1240px) {
  .home__about-box {
    grid-template-columns: 1fr;
  }
  .home__about__info-box p,
  .home__about__info-box li,
  .home__about__info-box a {
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  .welcome-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 840px) {
  .hww-section {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .welcome-box__pins {
    grid-template-columns: 1fr;
  }
  .home__about__info {
    padding: 60px 10px;
  }
  .home__about__info-box a {
    padding: 12px 20px;
  }
}
@media (max-width: 540px) {
  .hww__work-cards {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 0;
  }
  .hww__work-card {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  .home__portfolio__info {
    max-width: 100%;
  }
  .home__portfolio-galery {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 0;
  }
  .home__portfolio-galery > div {
    margin-bottom: 20px;
  }
  .home__about__info-box .button-box {
    width: 100%;
  }
  .home__about__info-box {
    width: auto;
  }
}

@media (max-width: 340px) {
  .home__about__info-box p,
  .home__about__info-box li,
  .home__about__info-box a {
    font-size: 14px;
  }
}
