.improvement-image {
  max-height: 450px;
  height: 450px;
  background-image: url("../images/services/Improvement/improvement.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.improvement {
  padding: 60px 0;
}
.improvement > div {
  display: flex;
  flex-direction: column;
}
.improvement h1 {
  margin-bottom: 60px;
}
.improvement img {
  max-height: 400px;
  object-fit: cover;
  object-position: bottom;
}
