/* side menu */

.sidebar ul {
  margin-top: 0;
}
.sidebar li {
  margin-bottom: 6px;
  list-style: none;
}
.sidebar h5 {
  margin-bottom: 6px;
  font-weight: 500;
}
.sidebar h6 {
  font-weight: 400;
}
.sidebar__button {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.sidebar h5:hover,
.sidebar h6:hover {
  background-color: #eeeeee;
}
.sidebar > ul {
  margin: 0;
}
@media (min-width: 920px) {
  .sidebar {
    margin-right: 60px;
  }
  .sidebar > ul {
    position: sticky;
    top: 50px;
  }
}

@media (max-width: 920px) {
  .sidebar h5 {
    margin: 0;
  }
  .sidebar__ul {
    display: none;
    width: calc(100% - 32px);
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index: 1;
  }
  .sidebar__title {
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  .sidebar__button {
    width: 100%;
    text-align: start;
  }
}
