.breadcrumbs {
  margin-bottom: 30px;
  padding: 0 16px;
}
.breadcrumbs a {
  color: #666666;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #212121;
}
/* preview card */
.product {
  min-width: 260px;
  height: min-content;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.25s ease-in;
}
.product:hover {
  transform: scale(1.01);
  outline: 1px solid #999999;
}
.product:hover .product__link {
  opacity: 1;
}
.product a {
  text-decoration: none;
}
.product__image {
  margin-bottom: 16px;
}
.product__image > div {
  max-height: 600px;
}
.product__title {
  margin-bottom: 8px;
  color: #212121;
}
.product__sub {
  margin-bottom: 16px;
  font-size: 12px;
  color: #999999;
}
.product__info {
  margin-bottom: 30px;
}
.product__info-size {
  margin-bottom: 16px;
  color: #666666;
}
.product__info-price {
  font-size: 22px;
  font-weight: 600;
  color: #212121;
}
.product__info-price span {
  margin-left: 4px;
  font-size: 14px;
}
.product__link {
  transition: 0.25s ease-in;
  opacity: 0;
}

/* card */
.product-container {
  display: flex;
  min-height: 628px;
  margin-bottom: 60px;
  padding: 0 16px;
  justify-content: space-between;
}
.product-container .product__info {
  margin-left: 16px;
}
.product__images {
  display: flex;
  margin-right: 30px;
}

.product__galery {
  display: grid;
  grid-template-rows: repeat(auto-fill, 64px);
  gap: 16px;
  margin-right: 16px;
}
.product__galery-item {
  display: flex;
  max-width: 64px;
  min-width: 64px;
  margin-right: 30px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 1px solid #dddddd;
}
.product__galery-item:hover {
  outline: 1px solid #666666;
}
.product__galery-item > div {
  max-width: 54px;
  max-height: 54px;
}
.product__additional-info {
  margin-bottom: 90px;
}

@media (max-width: 920px) {
  .product-container {
    flex-direction: column;
  }
  .product__image {
    order: -1;
  }
  .product__image > div {
    max-height: 350px;
  }
  .product__galery {
    grid-template-columns: repeat(auto-fill, 64px);
    margin-bottom: 30px;
  }
}

@media (max-width: 720px) {
  .product {
    min-width: 260px;
    text-align: center;
  }
  .product-container {
    text-align: center;
  }
  .product__galery {
    margin-right: 0;
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .product {
    text-align: center;
  }
}
